.w1200 .title {
  width: 100%;
  padding: 20px;
}
.w1200 .title h1 {
  text-align: center;
  font-size: 40px;
}
.w1200 .title h1 span {
  color: #1dd2af;
}
.w1200 ul.important {
  border-top: 1px dashed #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
