.m-slide {
  width: 683px;
  border-bottom: 1px solid #e5e5e5;
}
.m-slide .img {
  float: left;
  position: relative;
  width: 490px;
  height: 200px;
}
.m-slide .img li {
  position: absolute;
  left: 0;
  top: 0;
  width: 490px;
  display: none;
}
.m-slide .tab {
  float: right;
  width: 193px;
}
.m-slide .tab li.on a {
  border-left: 3px solid #41a1f2;
}
.m-slide .tab li.on a b {
  border-left: 5px solid #41a1f2;
  position: relative;
  z-index: 2;
}
.m-slide .tab li.on a .des {
  color: #41a1f2;
}
.m-slide .tab li.on a .title {
  color: #41a1f2;
}
.m-slide .tab li {
  border-top: 1px solid #e5e5e5;
}
.m-slide .tab li a {
  text-indent: 1rem;
  text-decoration: none;
  display: block;
  position: relative;
  width: 190px;
  height: 49px;
  border-left: 3px solid #fff;
  border-right: 1px solid #e5e5e5;
}
.m-slide .tab li a b {
  position: absolute;
  left: 0;
  top: 20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  overflow: hidden;
  display: block;
}
.m-slide .tab li a span {
  width: 190px;
  display: block;
}
.m-slide .tab li a .des {
  height: 16px;
  line-height: 16px;
  color: #999;
  font-size: 12px;
}
.m-slide .tab li a .title {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
